body {
  background-color: #e1f4f3;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #61d4b3
}

h3 {
  color: #61d4b3
}

.circular {
  border-radius: 100%
}

ol:hover {
  color: green;
}

ul:hover {
  color: green;
}

em:hover {
  color: green;
}
